In [3]:
# 객체(string, number ...)가 가지고 있는 기능들 
dir('hello')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# 1. 문자열 메소드

객체가 가지는 함수 = 메소드 

문자열은 immutable 하기 때문에 원본 데이터는 수정되지 않음

In [16]:
# immutable
a = 'hello my name is Saein'

a[0] = 'H'

TypeError: 'str' object does not support item assignment

In [17]:
a.capitalize()

'Hello my name is saein'

In [18]:
print(a)

hello my name is Saein

In [19]:
a.title()

'Hello My Name Is Saein'

In [20]:
a.upper()

'HELLO MY NAME IS SAEIN'

In [22]:
a.lower()

'hello my name is saein'

In [26]:
# ''.join(iterable(sequence))

my_list = ['hi', 'my','name']
''.join(my_list)

'himyname'

In [29]:
# .replace(old, new[, count])
print('wooooooooooow'.replace('o', '!'))
print('wooooooooooow'.replace('o', '!', 3))

w!!!!!!!!!!!w
w!!!oooooooow

In [36]:
# .strip([chars])
my_string = '         hello\n'
print(my_string)
print(my_string.strip())

my_string2 = 'hihihihiihihihellohihihihihi'
print(my_string2.strip('hi'))
print(my_string2.lstrip('hi'))
print(my_string2.rstrip('hi'))

         hello

hello
ello
ellohihihihihi
hihihihiihihihello

In [41]:
# .find(x)

a = 'apple'
print(a.find('p'))   # 제일 첫 번째 데이터의 인덱스만 출력
print(a.find('z'))

# 두 번째 'p' 출력하기
for i in range(len(a)):
    if 'p' == a[i]:
        print(i)

1
-1
1
2

In [40]:
# .index(x)

a = 'apple'
print(a.index('p'))
print(a.index('z'))

1

ValueError: substring not found

In [47]:
# .split()

a = 'my name is saein'
print(a.split())

b = 'my_name_is_saein'
print(b.split('_'))

['my', 'name', 'is', 'saein']
['my', 'name', 'is', 'saein']

In [48]:
# .count()

'wooooow'.count('o')

5

# 2. 리스트 메소드

리스트는 mutable하기 때문에 원본 데이터가 변환됨

In [51]:
numbers = [1,2,5,4,6,3,7,8,9]

In [52]:
# .append(x)

numbers.append(10)
print(numbers)

[1, 2, 5, 4, 6, 3, 7, 8, 9, 10]

In [54]:
# .extend(iterable)

a = [99,100]
numbers.extend(a)
print(numbers)
print(numbers + a)

[1, 2, 5, 4, 6, 3, 7, 8, 9, 10, 99, 100, 99, 100]
[1, 2, 5, 4, 6, 3, 7, 8, 9, 10, 99, 100, 99, 100, 99, 100]

In [55]:
# .insert(idx, x)

numbers.insert(3, 3.5)
print(numbers)

[1, 2, 5, 3.5, 4, 6, 3, 7, 8, 9, 10, 99, 100, 99, 100]

In [56]:
# .remove(x)

numbers.remove(3.5)
print(numbers)

[1, 2, 5, 4, 6, 3, 7, 8, 9, 10, 99, 100, 99, 100]

In [61]:
# .pop([idx])
# 안 적으면 맨 뒤의 값, 적으면 인덱스 위치 번호 삭제

numbers.pop(0)
print(numbers)

[2, 5, 4, 6, 3, 7, 8, 9, 10]

In [63]:
# .sort()

numbers.sort()
print(numbers)
numbers.sort(reverse = True)
print(numbers)

[2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [67]:
# .reverse()
# 정렬은 아니고 그냥 역순으로 변환

print(numbers)
numbers.reverse()
print(numbers)

# slicing 사용해서 역순으로 변환
numbers = numbers[::-1]
print(numbers)

[10, 9, 8, 7, 6, 5, 4, 3, 2]
[2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2]

## 2.1 list copy

In [68]:
origin_list = [1,2,3]
copy_list = origin_list

In [69]:
print(origin_list)
print(copy_list)

[1, 2, 3]
[1, 2, 3]

In [70]:
copy_list[0] = 100

In [72]:
print(origin_list)
print(copy_list)

[100, 2, 3]
[100, 2, 3]

In [74]:
# slicing으로 copy(0:n)

a = [1,2,3]
b = a[:]

b[0] = 100
print(a)
print(b)

[1, 2, 3]
[100, 2, 3]

In [75]:
# list() 함수로 copy

a = [1,2,3]
b = list(a)

b[0] = 100
print(a)
print(b)

[1, 2, 3]
[100, 2, 3]

In [78]:
a = [1,2,[3,4]]
b = a[:]

b[2][0] = 100
print(a)
print(b)

[1, 2, [100, 4]]
[1, 2, [100, 4]]

In [80]:
import copy
a = [1,2,[3,4]]
b = copy.deepcopy(a)

b[2][0] = 100
print(a)
print(b)

[1, 2, [3, 4]]
[1, 2, [100, 4]]

## 2.2 list comprehension

In [82]:
numbers = list(range(1, 11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [83]:
# 세 제곱한 리스트로 출력

result = []

for i in numbers:
    result.append(i**3)

print(result)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [86]:
# list 안에서 for문 사용하기 (for문 익숙해지기 전까지는 지양)
result2 = [number ** 3 for number in numbers]
print(result2)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [90]:
# 짝수만 고르기
even_list = []
for i in numbers:
    if i % 2 == 0:
        even_list.append(i)

print(even_list)

[2, 4, 6, 8, 10]

In [92]:
even_list2 = [i for i in numbers if i % 2 == 0]
print(even_list2)

[2, 4, 6, 8, 10]

In [102]:
words = 'my name is seain'
voewls = 'aeiou'

# 모음 제거하기 - for문 버전

for i in words:
    if i in voewls:
        words = words.replace(i,'')

print(words)

# 다른 방법
# for char in words:
#     if char not in vowels:
#         result.append(char)

# print(''.join(result))

my nm s sn

In [108]:
# comprehension 버전

words = 'my name is seain'
voewls = 'aeiou'

result2 = [char for char in words if char not in voewls]
print(''.join(result2))

my nm s sn

# 3. Dictionary 메소드

In [114]:
info = {
    'name': 'saein',
    'location': 'home',
}

In [111]:
info['name'] = 'choi'
info['name']

'choi'

In [120]:
# .pop(key[, default])

print(info.pop('location',None))  # location이 없는 경우 default 출력
print(info)

None
{'name': 'saein'}

In [124]:
# .update(key=value)
info.update(name='saein')
print(info)

{'name': 'saein'}

In [126]:
# .get(key[, default])
print(info.get('name'))
print(info.get('school','123'))

saein
123

## 3.1 dict comprehension

In [127]:
# {1: 1, 2: 8, 3: 27}

In [130]:
# for문 버전

cube_dict = {}
for i in range(1,4):
    cube_dict[i] = i ** 3

print(cube_dict)

{1: 1, 2: 8, 3: 27}

In [131]:
# comprehension

cube_dict2 = {i : i**3 for i in range(1,4)}
print(cube_dict2)

{1: 1, 2: 8, 3: 27}

In [136]:
# value가 50 이상인 지역만 뽑기 

dust = {
    '서울': 100,
    '경기': 80,
    '대전': 10,
    '대구': 30,
    '광주': 60
}

In [137]:
# for문

result = {}
for k, v in dust.items(): 
    if v >= 50:
        result[k] = v

print(result)

{'서울': 100, '경기': 80, '광주': 60}

In [139]:
# comprehension

result2 = {k: v for k,v in dust.items() if v >= 50}
print(result2)

{'서울': 100, '경기': 80, '광주': 60}

# 4. Set 메소드

메소드가 작동(추가, 삭제)하는 위치는 랜덤

In [140]:
fruits = {'apple', 'banana', 'melon'}

In [143]:
# .add(x)
fruits.add('watermelon')
print(fruits)

# 중복된 데이터는 없어서 또 추가해도 똑같은 결과
fruits.add('watermelon')
print(fruits)

{'banana', 'apple', 'watermelon', 'melon'}
{'banana', 'apple', 'watermelon', 'melon'}

In [145]:
# .update()

fruits.update('grape')
print(fruits)
fruits.update({'orange', 'pear'})
print(fruits)

{'banana', 'apple', 'melon', 'g', 'watermelon', 'r', 'a', 'p', 'e'}
{'banana', 'apple', 'orange', 'melon', 'g', 'watermelon', 'r', 'pear', 'a', 'p', 'e'}

In [146]:
# .remove()

fruits.remove('orange')
print(fruits)

{'banana', 'apple', 'melon', 'g', 'watermelon', 'r', 'pear', 'a', 'p', 'e'}

In [147]:
# .pop()
fruits.pop()
print(fruits)

{'apple', 'melon', 'g', 'watermelon', 'r', 'pear', 'a', 'p', 'e'}

# 5. map(), zip(), filter()

## 5.1 map()
```python
map(function, iterable)
```

In [149]:
a = [1,2,3]

number_str = map(str, a)
print(number_str)
print(list(number_str))

<map object at 0x000001FF10FBE500>
['1', '2', '3']

In [150]:
def cube(x):
    return x ** 3

In [152]:
# for문을 활용하여 모든 item에 cube 함수 실행
result = []
for i in a:
    result.append(cube(i))

print(result)

[1, 8, 27]

In [155]:
# map()을 활용하여 모든 item에 cube 함수 실행
result2 = map(cube,a)
print(list(result2))

[1, 8, 27]

In [158]:
numbers = list(map(int,input().split()))
print(numbers)

 1 2 3 4 5

[1, 2, 3, 4, 5]

## 5.2 zip()

In [159]:
a = [1,2,3]
b = [100,200,300]

In [162]:
result = zip(a,b)
print(result)
print(list(result))

<zip object at 0x000001FF1150B040>
[(1, 100), (2, 200), (3, 300)]

## 5.3 filter()

function의 return 값이 무조건 True 혹은 False여야 함

```python
filter(function, iterable)
```

In [163]:
def is_odd(x):
    # if x % 2 == 1:
    #     return True
    # else:
        # return False
    return bool(x % 2)

In [165]:
numbers = [1,2,3,4,5]
result = filter(is_odd,numbers)
print(result)
print(list(result))

<filter object at 0x000001FF10FBE800>
[1, 3, 5]