# 01. Intro

## 단축키

- ctrl + enter :  지금 cell 실행
- shift + enter : 지금 cell 실행 & 아래로 이동
- alt + enter : 지금 cell 실행 & 아래에 새로운 cell 추가

## 주의사항

1. Apple / apple 주의 (대소문자)
2. git add . / git add. 주의 (띄어쓰기)
3. message / massage 주의 (철자)

In [5]:
# 주석을 나타냅니다. (Ctrl + slash)

esc + m : markdown으로 변환

# 1. 변수

변수이름 = 값 (할당)

- 변수이름은 어떤 이름이든 상관 없음
- 다만 영어, 숫자, _를 이용하여 선언
- 키워드는 사용 불가

In [7]:
a = 10

In [8]:
a

10

In [9]:
import keyword 
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

### 1.1. number

In [10]:
a = 1000000

In [11]:
a

1000000

- 숫자에는 정수 형태가 기본적으로 들어감

In [12]:
type(a)

int

In [13]:
b = 1.1

In [14]:
b

1.1

In [16]:
type(b)

float

In [17]:
c = 1 - 4j

In [18]:
c

(1-4j)

In [19]:
type(c)

complex

- int = 정수, float =  소수, complex = 복소수

In [22]:
c.imag

-4.0

In [23]:
c.real

1.0

### 1.2 Boolean

True, False로 이루어진 type

In [24]:
a = True

In [25]:
type(a)

bool

In [26]:
b = False

In [27]:
type(b)

bool

In [28]:
bool(0)

False

In [29]:
bool(1)

True

- bool() = True, False인지 확인해주는 함수

### 1.3 None

In [30]:
a = None

In [31]:
type(a)

NoneType

- Nonetype = 값이 아무것도 들어있지 않다

### 1.4 String

- 문자열은 `'` `"`를 이용하여 표현

In [32]:
a = 'hello'

In [33]:
type(a)

str

- `'` `"` 둘 중에 무엇을 사용하든 상관없지만 일관되게 하나만 사용하기

In [35]:
age = input()
print(age)
print(type(age))

 22

22
<class 'str'>

- 어떤 값을 넣든지 문자열로 인식됨

In [36]:
print('안녕하세요 '최세인'입니다')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2754287516.py, line 1)

In [37]:
print("안녕하세요 '최세인'입니다")

안녕하세요 '최세인'입니다

- 따옴표를 사용하고 싶으면 홑따옴표와 쌍따옴표를 복합적으로 사용해야 함

In [38]:
print('안녕하세요 \'최세인\'입니다')

안녕하세요 '최세인'입니다

- 혹은 역슬래쉬(escape)를 사용해서 뒤에 나오는 홑따옴표가 문자열에 사용되는 홑따옴표라는 것을 알리기

In [40]:
a = '''
여기는 문자열입니다
엔터를 쳐서 여러 줄을 작성할 수 있습니다
'''

In [42]:
print(a)

여기는 문자열입니다
엔터를 쳐서 여러 줄을 작성할 수 있습니다

In [44]:
print('엔터를 입력해봐요 \n다음줄입니다. \t들여쓰기도 가능합니다.')

엔터를 입력해봐요
다음줄입니다. 	들여쓰기도 가능합니다.

- `\n`은 다음줄로 이동, `\t`는 tab 기능

In [46]:
print('하나', '둘', '셋', end='!')

하나 둘 셋!

In [52]:
print('하나', '둘', '셋', sep='!')

하나!둘!셋

### String interpolation

1. %-formatting
2. str.format()
3. f-string

In [48]:
age = 20

In [49]:
print(age)

20

In [54]:
print('홍길동은 %s 살입니다.' % age)

홍길동은 20 살입니다.

In [57]:
print('홍길동은 {}살입니다.' .format(age))

홍길동은 20살입니다.

In [59]:
print(f'홍길동은 {age}살입니다.')

홍길동은 20살입니다.

## 2. 연산자

### 2.1 산술연산자

In [63]:
a = 2
b = 3

In [64]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a ** b)

5
-1
6
0.6666666666666666
8

In [67]:
# a를 b로 나눈 몫 출력
print(a//b) 
# a를 b로 나누고 나머지 출력
print(a%b)
# a를 b로 나눈 몫과 나머지 같이 출력
print(divmod(a,b))

0
2
(0, 2)

### 2.2 비교연산자

In [68]:
a = 5
b = 10

In [69]:
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
False
True

In [70]:
print(a == b)
print(a != b)

False
True

In [72]:
print('hi' == 'hi')
print('HI' == 'hi')

True
False

- `==` : 숫자뿐만 아니라 문자도 비교 가능

### 2.3 논리연산자

- and : 양쪽 모두 True일 때 , True를 반환
- or : 양쪽 모두 False일 때, Fal를 반환
- not : 값을 반대로 전환

In [75]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [76]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [77]:
print(True)
print(not True)

True
False

In [78]:
# 단축평가
print(3 and 5)
print(3 and 0)
print(0 and 5)
print(0 and 0)

5
0
0
0

- 앞이 True이면 뒤에 있는 값이 True, False이든 그냥 뒤에 있는 값을 출력
- 앞이 Fasle이면 바로 앞에 있는 값을 출력

In [79]:
# 단축평가
print(3 or 5)
print(3 or 0)
print(0 or 5)
print(0 or 0)

3
3
5
0

- 앞에 있는 값이 False면 바로 뒤에 있는 값 출력
- 앞에 있는 값이 True면 바로 앞에 있는 값 출력

### 2.3 복합연산자

In [88]:
a = 1
b = 2

In [89]:
a = a + b
a = a - b
a = a * b
a = a / b
a = a ** b

In [87]:
# a에 1을 더하고 바로 할당하기
a += 1

In [91]:
a += b
a -= b
a *= b
a /= b
a **= b

### 2.4 기타연산자

In [92]:
a = 'hi'
b = 'hello'

In [96]:
# concatenation(연결)
a + b

[1, 2, 3, 4, 5, 6]

In [94]:
a = [1, 2, 3]
b = [4, 5, 6]

In [97]:
# concatenation(연결)
a+b

[1, 2, 3, 4, 5, 6]

In [99]:
# containment
print('a' in 'apple')
print('z' in 'apple')

True
False

In [100]:
print(1 in [1,2,3])
print(10 in [1,2,3])

True
False

In [101]:
# identity
a = 1
b = 1
print(a is b)

True

In [103]:
# identity
a = 123123
b = 123123
print(a is b)

False

### 우선순위

0. ()를 통해 그룹
1. **
2. 산술연산자(*, /)
3. 산술연산자(+, -)
4. 비교연산자, in, is
5. not
6. and
7. or

In [105]:
print(-3 ** 4)
print((-3) ** 4)

-81
81

## 3. 형변환
### 3.1 암시적 형변환

In [110]:
a = True
b = False
c = 1

In [111]:
print(a + c)
print(b + c)

2
1

- True의 숫자로의 형변환 값 : 1
- False의 숫자로의 형변환 값 : 0

In [112]:
int_num = 3
float_num = 3.3
complex_num = 1 +3j

In [115]:
print(int_num + float_num)
print(int_num + complex_num)

6.3
(4+3j)

- 다른 type의 숫자끼리 더할 때 암시적으로 더 큰 범위의 숫자로 더해짐

### 3.2 명시적 형변환

- int() : string, float를 int로 변환
- float() : string, int를 float로 변화
- str() : int, float 등을 string으로 변환
- bool() : int, list 등을 boolean으로 변환

In [116]:
a = 1
b = '번'

In [117]:
print(a + b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [118]:
print(str(a)+b)

1번

In [119]:
a = '3'

In [120]:
type(int(a))

int

In [122]:
a = '3.3'

In [132]:
type(int(a))

int

In [190]:
type(float(a))

TypeError: float() argument must be a string or a real number, not 'range'

In [191]:
a = 1
b = 0

In [192]:
bool(a)

True

In [193]:
bool(b)

False

In [137]:
print(bool([]))
print(bool([1,2,3]))

False
True

## 4. 시퀀스(sequence) 자료형

시퀀스는 데이터의 순서대로 나열된 자료구조. (순서대로 나열되었다는 것은 정렬된 것과 다르다.)

1. list
2. tuple
3. range
4. string

### 4.1 List (배열)
- 선언 : 변수이름 = [value1, value2, value3, ...]
- 접근 : 변수이름[index]

In [131]:
l = []
print(l)
print(type(l))

[]
<class 'list'>

In [136]:
location = ['서울', '대구', '대전']
print(location)
print(location[0])

['서울', '대구', '대전']
서울

### 4.2 Tuple
- 선언 : 변수이름 = (value1, value2, value3)
- 접근 : 변수이름[index]

In [140]:
t=(1,2,3)
print(t)
print(type(t))
print(t[2])

(1, 2, 3)
<class 'tuple'>
3

- list : 수정 가능 (mutable)
- tuple : 수정 불가능 (immutable)

### 4.3 Range

- range(n) : 0부터 n-1까지 범위
- range(n, m) : n부터 m-1까지 범위
- range(n, m, s : n부터 m-1까지 +s만큼 증가하는 범위

In [141]:
a = range(1)
print(type(a))

<class 'range'>

In [143]:
a = range(10)
print(a)
print(list(a))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [146]:
a = range(5,15)
print(list(a))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [147]:
a = range(1,10,2)
print(list(a))

[1, 3, 5, 7, 9]

In [149]:
a = range(-1, -10, -1)
print(list(a))

[-1, -2, -3, -4, -5, -6, -7, -8, -9]

### 4.4 String

기본 데이터 구조 참고

### 4.5 시퀀스에서 활용 가능한 연산/함수

In [156]:
my_list = [1,2,3,4,5]
my_tuple = (1,2,3,4,5)
my_range = range(1,6)
my_string = '12345'

In [157]:
#indexing
print(my_list[1])
print(my_tuple[1])
print(my_range[1])
print(my_string[1])

2
2
2
2

In [159]:
#slicing (n에서 시작해서 m전까지)
print(my_list[1:3])
print(my_tuple[1:3])
print(my_range[1:3])
print(my_string[1:3])

[2, 3]
(2, 3)
range(2, 4)
23

In [164]:
#slicing (k 간격으로)
my_range = range(1,100)
print(my_range[2:50:2])
print(list(my_range[0:10:2]))

range(3, 51, 2)
[1, 3, 5, 7, 9]

In [166]:
#in
print(1 in my_list)
print(1 in my_tuple)
print(1 in my_range)
print('1' in my_string)

True
True
True
True

In [167]:
print(1 not in my_list)
print(1 not in my_tuple)
print(1 not in my_range)
print('1' not in my_string)

False
False
False
False

In [168]:
#concatenation
print(my_list + [1,2,3])

[1, 2, 3, 4, 5, 1, 2, 3]

In [171]:
# * (뒤에 오는 숫자만큼 concatenation 하라는 뜻)
print([0] * 10)
print([[0] * 10] * 10)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [172]:
print(len(my_list))

5

In [173]:
print(min(my_list))

1

In [174]:
print(max(my_list))

5

In [176]:
my_list.count(1)

1

## 5. 시퀀스데이터가 아닌 자료구조

### 5.1 Set

수학에서 사용하는 집합과 동일하게 처리 (중복된 값이 없음)

- 선언 : 변수이름 = {value1, value2, value3, ...}

In [177]:
my_set_a = {1, 2, 3, 4, 5}
my_set_b = {3, 4, 5, 6, 7}

In [180]:
# 차집합
print(my_set_a - my_set_b)

# 합집합 (중복된 데이터가 있을 때는 하나만 남김)
print(my_set_a | my_set_b)

#교집합
print(my_set_a & my_set_b)

{1, 2}
{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}

In [183]:
# list의 중복된 값 지우기 : 집합(set)으로 바꿔서 중복값 없애기
my_list = [1,1,1,1,1,1,2,3,4,5,6]
print(list(set(my_list)))

[1, 2, 3, 4, 5, 6]

### 5.2 Dictionary

- 선언 : 변수이름 = {key1: value1, key2: value2, ...}
- 접근 : 변수이름[key]

- dictionary는 key와 value가 쌍으로 이루어져있다.
- key에는 immutable한 모든 것을 사용가능 (불변값 : string, integar)
- value에는 모든 데이터 가능 (list, dictionary도 가능)

In [184]:
my_dict = { '서울': '02', '경기': '031'}
my_dict['서울']

'02'

In [185]:
dict_a = {
    'name': 'ChoiSeain',
    'location': 'Namyangju',
    'location': 'Pyeongnae'
}

In [186]:
print(dict_a)

{'name': 'ChoiSeain', 'location': 'Pyeongnae'}

In [187]:
dict_a.keys()

dict_keys(['name', 'location'])

In [189]:
dict_a.values()

dict_values(['ChoiSeain', 'Pyeongnae'])

# 데이터 타입
1. Number
2. Boolean
3. String

# 자료구조 (= 데이터 타입을 활용해서 집합을 만들어 놓은 것)
- 시퀀스 자료형
1. [List] : mutable
2. (Tuple) : immutable
3. range() : immutable
4. 'string' : immutable

- 시퀀스가 아닌 자료형
1. (Set) : mutable
2. {Dictionary} : mutable